@media (max-width: 992px) {

    .container{
      padding: 20px 60px;
    }
  
    .userInfoDiv{
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .repo-card {
      padding: 8px;
      margin-bottom: 8px;
    }
  }
  
  @media (max-width: 576px) {
  
    .container {
      padding: 10px 30px;
    }
  
    .wrapper {
      flex-direction: column;
      gap: 10px;
      align-items: center;
      margin-top: 20px;
      max-width: 300px;
    }
  
    .button {
      width: 100%;
    }
  
    .user_card {
      font-size: 14px;
      margin-bottom: 10px;
    }
  
    .repo-card {
      font-size: 14px;
      word-break: break-all;
      padding: 6px;
      margin-bottom: 6px;
    }
  }