 .maindiv_properties {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  color: darkviolet;
}

.ghostdiv_properties {
  color: darkgrey;
  margin-left: 20px;
}

.ghostdiv_properties {
  display: none;
}

.maindiv_properties:hover .ghostdiv_properties {
  display: block;
}