.wrapper_form {
  display: flex;
}

.button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100px;
  height: 40px;
  margin-left: 20px;
  border-radius: 15px;
}

.input {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}