table {
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td{
    padding: 3px;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 30px;
}

img {
    width: 20px;
    height: 20px;
}