/* html, body {
    font-family: "NerkoOne";
    font-size: 20px; 
}

html svg, html img, body svg, body img {
    height: 15px; 
}
  
  .card_board {
    background: #55aa55;
    border-radius: 6px;
    padding: 10px;
}

.card_board_td {
    height: 130px;
    width: 100px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main img{
    height: 50px;
}
  
.suit_number {
    position: absolute;
    padding: 5px;
    display: flex;
    align-items: center;
}

.suit_number span {
    margin-right: 3px;
}
  
.suit_number:last-child {
    left: 0;
    top: 0;
}
  
.suit_number:first-child {
    right: 0;
    bottom: 0;
} */